# Ignore the trained model
WhisperNet_model.h5

# macOS junk
.DS_Store
**/.DS_Store

# PyCharm/JetBrains IDE settings
.idea/

# Ignore all Python cache folders and files
__pycache__/
**/__pycache__/
*.py[cod]
